<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Win Rate Page</title>
</head>
<body>

<h1>Your win rate for the last <span th:text="${countMatches}"></span> matches was <span th:text="${winRate}"></span></h1>

<script>
        $.ajax({
            url: "/json",
            method: "GET",
            dataType: "json",
            success: function(data) {
            console.log(data);
            }
        });
</script>
</body>
</html>